<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-5">{{ title }}</h1>
  <hr class="my-4" />
  <p class="text-center">
    <img
      class="img-fluid logo"
      src="{{ imgCupidOods }}"
      alt="Logotipo CupidOods"
    />
  </p>
  <hr class="my-4" />
  <br><br>
  <p class="lead">
    Entra en la aplicación web de citas con más éxito de internet. <br />
    CupidOods utiliza tus datos de forma responsable y te facilita <b>encontrar a esa persona que estás buscando</b>.
    No busques más en salas de baile ni bibliotecas, ahora las parejas se encuentran en internet.
    Encuentra a personas afines a ti desde casa y empieza a hablar con ellas.
    <br />
  </p>
  <hr class="my-4" />
  <p>
    Podrás definir tus preferencias, gustos, ambiciones, sueños, necesidades, inquietudes... para encontrar a esa persona tan especial que desearía encontrarse contigo.
    <b>Tu media lima/limón</b> te está esperando en CupidOods. Muestrate al mundo y no pierdas la oportunidad de compartir tu vida con personas muy especiales.
  </p>
  <hr class="my-4" />
  <p class="enlace-git">
    Trate con respeto a los usuarios de cupidOods, cualquier reporte será tenido en cuenta para cuidar a nuestra comunidad.
    Puede encontrar el repositorio a este proyecto en el siguiente link a <a class="link-text" href="https://github.com/pabloGRC90/CupidOods.git">GitHub</a>.
  </p>
</div>
