
.display-5{
  margin-top: 30px;
}
.logo{
  display: inline-block;
  margin:50px 0px;
}
.enlace-git{
  margin-bottom: 100px;
}
.bg-light{
  margin-bottom: 10%;
}
.link-text{
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: 0.2s;
}
.link-text:hover{
  text-decoration: none;
  color: #707070;
}
