<div class="container-form">
  <div class="abs-center">

    <form [formGroup]="recuperarPass" (ngSubmit)="onSubmit()" class="form">

      <h1 class="form-title p-3">Recuperar contraseña</h1>

      <div class="form-group p-3">
          <input class="form-control"  type="email" formControlName="email" placeholder="Email"/>
          <div *ngIf="submitted && formulario['email'].errors">
            <div class="container-error">
              <div class="inline-error" *ngIf="formulario['email'].errors['required']">El campo no puede estar vacío</div>
              <div class="inline-error" *ngIf="formulario['email'].errors['email']">Debe ser un email válido</div>
            </div>
          </div>
      </div>

      <div class="p-3">
        <input class="btn btn-primary btn-enviar" type="submit" value="Enviar" />
        <input class="btn btn-warning btn-remind" type="button" value="Recordé contraseña" (click)="onRemind()"/>
      </div>

    </form>

  </div>
</div>





