.btn-enviar,.btn-reset{
  margin-right: 15px;
}
.container-error{
  padding: 0.25rem;
}
.inline-error{
  display: inline;
  color:#ee2d2d;
}
.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 88vh;
}
.form {
  padding: 20px;
  width: 80%;
  background-color: #e2e2e2;
  border-radius: 10px;
  margin: 30px 0;
}
.form-title{
  font-size: 20px;
}
meter{
  width: 100%;
}
.range-control,
.textarea{
  width: 100%;
}
