<div class="container-form">
  <div class="abs-center">

    <form [formGroup]="preferenciasUsuario" (ngSubmit)="onSubmit()" class="form">

      <h1 class="form-title p-3">Preferencias</h1>

      <div class="form-group p-3">
        <label for="password">Nombre</label>
        <input class="form-control" type="text" formControlName="username" minlength="3" maxlength="20" placeholder="Su nombre"/>
        <div *ngIf="submitted && formulario['username'].errors">
          <div class="container-error">
            <div class="inline-error" *ngIf="formulario['username'].errors['required']">Debe indicar un nombre</div>
            <div class="inline-error" *ngIf="formulario['username'].errors['minlength']">Mínimo 3 caracteres</div>
          </div>
        </div>
      </div>

      <div class="form-group p-3">
        <label for="tipoRelacion">Provincia</label>
        <select class="custom-select custom-select-lg form-control" formControlName="provincia" required>
          <option selected value="" disabled>Indique su provincia</option>
          <option value="Álava/Araba">Álava</option>
            <option value="Albacete">Albacete</option>
            <option value="Alicante">Alicante</option>
            <option value="Almería">Almería</option>
            <option value="Asturias">Asturias</option>
            <option value="Ávila">Ávila</option>
            <option value="Badajoz">Badajoz</option>
            <option value="Baleares">Baleares</option>
            <option value="Barcelona">Barcelona</option>
            <option value="Burgos">Burgos</option>
            <option value="Cáceres">Cáceres</option>
            <option value="Cádiz">Cádiz</option>
            <option value="Cantabria">Cantabria</option>
            <option value="Castellón">Castellón</option>
            <option value="Ceuta">Ceuta</option>
            <option value="Ciudad Real">Ciudad Real</option>
            <option value="Córdoba">Córdoba</option>
            <option value="Cuenca">Cuenca</option>
            <option value="Gerona/Girona">Gerona</option>
            <option value="Granada">Granada</option>
            <option value="Guadalajara">Guadalajara</option>
            <option value="Guipúzcoa/Gipuzkoa">Guipúzcoa</option>
            <option value="Huelva">Huelva</option>
            <option value="Huesca">Huesca</option>
            <option value="Jaén">Jaén</option>
            <option value="La Coruña/A Coruña">La Coruña</option>
            <option value="La Rioja">La Rioja</option>
            <option value="Las Palmas">Las Palmas</option>
            <option value="León">León</option>
            <option value="Lérida/Lleida">Lérida</option>
            <option value="Lugo">Lugo</option>
            <option value="Madrid">Madrid</option>
            <option value="Málaga">Málaga</option>
            <option value="Melilla">Melilla</option>
            <option value="Murcia">Murcia</option>
            <option value="Navarra">Navarra</option>
            <option value="Orense/Ourense">Orense</option>
            <option value="Palencia">Palencia</option>
            <option value="Pontevedra">Pontevedra</option>
            <option value="Salamanca">Salamanca</option>
            <option value="Segovia">Segovia</option>
            <option value="Sevilla">Sevilla</option>
            <option value="Soria">Soria</option>
            <option value="Tarragona">Tarragona</option>
            <option value="Tenerife">Tenerife</option>
            <option value="Teruel">Teruel</option>
            <option value="Toledo">Toledo</option>
            <option value="Valencia">Valencia</option>
            <option value="Valladolid">Valladolid</option>
            <option value="Vizcaya/Bizkaia">Vizcaya</option>
            <option value="Zamora">Zamora</option>
            <option value="Zaragoza">Zaragoza</option>
        </select>
        <div *ngIf="submitted && formulario['provincia'].errors">
          <div class="container-error">
            <div class="inline-error" *ngIf="formulario['provincia'].errors['required']">Tiene que indicar su provincia</div>
          </div>
        </div>
      </div>


      <div class="form-group p-3">
        <label for="years">Fecha de nacimiento</label>
        <input class="form-control" type="date" max="{{minAge() | date:'yyyy-MM-dd'}}" min="{{maxAge() | date:'yyyy-MM-dd'}}" formControlName="years"/>
        <div *ngIf="submitted && formulario['years'].errors">
          <div class="container-error">
            <div class="inline-error" *ngIf="formulario['years'].errors['required']">Tiene que indicar su fecha de nacimiento</div>
          </div>
        </div>
      </div>

      <div class="form-group p-3">
        <label for="tipoRelacion">Tipo de relación </label>
        <select class="custom-select custom-select-lg form-control" formControlName="tipoRelacion" required>
          <option selected value="" disabled>Indique el tipo de relación</option>
          <option value="sporadic" selected>sporadic</option>
          <option value="serious">serious</option>
        </select>
        <div *ngIf="submitted && formulario['tipoRelacion'].errors">
          <div class="container-error">
            <div class="inline-error" *ngIf="formulario['tipoRelacion'].errors['required']">Tiene que indicar si quiere tener hijos</div>
          </div>
        </div>
      </div>

      <div class="form-group p-3">
        <label for="art">Deporte</label>
        <input class="range-control" type="range" min="0" max="100" value="50" formControlName="sport"/>
        <label for="art">Arte </label>
        <input class="range-control" type="range" min="0" max="100" value="50" formControlName="art"/>
        <label for="politic">Política </label>
        <input class="range-control" type="range" min="0" max="100" value="50" formControlName="politic"/>
      </div>

      <div class="form-group p-3">
        <label for="wantSons">Quiere hijos</label>
        <select class="custom-select custom-select-lg form-control" formControlName="wantSons" required>
          <option selected value="" disabled>Indique si quiere tener hijos</option>
          <option value="yes">si</option>
          <option value="no">no</option>
          <option value="undefined">no lo se</option>
        </select>
        <div *ngIf="submitted && formulario['wantSons'].errors">
          <div class="container-error">
            <div class="inline-error" *ngIf="formulario['wantSons'].errors['required']">Tiene que indicar si quiere tener hijos</div>
          </div>
        </div>
      </div>

      <div class="form-group p-3">
        <label for="haveSons">¿Tiene hijos?</label>
        <select class="custom-select custom-select-lg form-control" formControlName="haveSons" required>
          <option selected value="" disabled>Indique el número de hijos</option>
          <option value="0" selected>0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="more">más</option>
        </select>
        <div *ngIf="submitted && formulario['haveSons'].errors">
          <div class="container-error">
            <div class="inline-error" *ngIf="formulario['haveSons'].errors['required']">Tiene que indicar el número de hijos</div>
          </div>
        </div>
      </div>

      <div class="form-group p-3">
        <label for="gender">Género</label>
        <select class="custom-select custom-select-lg form-control" formControlName="gender" required>
          <option selected value="" disabled>Indique su género</option>
          <option value="female">mujer</option>
          <option value="male">hombre</option>
          <option value="undefined" selected>otros</option>
        </select>
        <div *ngIf="submitted && formulario['gender'].errors">
          <div class="container-error">
            <div class="inline-error" *ngIf="formulario['gender'].errors['required']">Tiene que indicar su género</div>
          </div>
        </div>
      </div>

      <div class="form-group p-3">
        <label for="preferencia">Qué buscas</label>
        <select class="custom-select custom-select-lg form-control" formControlName="preferencia" required>
          <option selected value="" disabled>Indique que busca</option>
          <option value="female">mujeres</option>
          <option value="male">hombres</option>
          <option value="undefined" selected>Ambos</option>
        </select>
        <div *ngIf="submitted && formulario['preferencia'].errors">
          <div class="container-error">
            <div class="inline-error" *ngIf="formulario['preferencia'].errors['required']">Tiene que indicar lo que está buscando</div>
          </div>
        </div>
      </div>

      <div class="form-group p-3">
        <label for="photo">Foto</label>
        <input class="form-control" type="file" formControlName="photo" required/>
        <div *ngIf="submitted && formulario['photo'].errors">
          <div class="container-error">
            <div class="inline-error" *ngIf="formulario['photo'].errors['required']">Debe subir una foto para su perfil</div>
          </div>
        </div>
      </div>

      <div class="form-group p-3">
        <label for="description" form-control="description">Descripción </label>
        <textarea rows="" cols="" formControlName="description" class="form-control textarea" minlength="25"></textarea>
        <div *ngIf="submitted && formulario['description'].errors">
          <div class="container-error">
            <div class="inline-error" *ngIf="formulario['description'].errors['required']">El campo no puede estar vacío</div>
            <div class="inline-error" *ngIf="formulario['description'].errors['minlength']">Mínimo 10 caracteres</div>
          </div>
        </div>
      </div>


      <div class="p-3">
        <input class="btn btn-success btn-enviar" type="submit" value="Enviar" />
        <input class="btn btn-warning btn-reset" type="reset" value="Cancelar" (click)="onReset()"/>
        <input class="btn btn-warning btn-reset" type="reset" value="Cambiar contraseña" (click)="changePass()"/>
      </div>

    </form>

  </div>
</div>





